.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background: url(../../../images/edit-profile_button.svg) no-repeat center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
