.popup__close-button {
  background-image: url(../../../images/Close-Icon.svg);
  background-size: cover;
  background-blend-mode: overlay;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  border-style: hidden;
  transition: opacity 0.4s;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 570px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
