.profile {
  margin: 40px auto 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 840px) {
  .profile {
    margin-top: 42px;
    margin-bottom: 36px;
    flex-direction: column;
    row-gap: 30px;
  }
}
