.popup__delete-card-button {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
  transition: opacity 0.4s;
}

.popup__delete-card-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 425px) {
  .popup__delete-card-button {
    font-size: 14px;
    line-height: 1.21;
    min-height: 46px;
  }
}
